body{
    font-size: 15px;
    color: #ffffff;
    #font-weight: bold;
    font-family: 'Microsoft YaHei', 'Times New Roman', Times, serif;
    background: url(../image/bg29.jpg) no-repeat;
    padding: 0;
    margin: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
}
.clock{
    list-style: none;
    margin: auto;
    padding: 0;
    width: 680px; /*横线长度*/
    height: 703px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 610px; /*年的水平位置*/
    line-height: 20px;

    user-select: none;

}

.clock .date{
    position: absolute;
    font-size: 18px;
    color: blue;
    font-weight: bold;
    z-index: 1;
    width: 100%;
    height: 20px;
    text-align: center;
    top: 340px;
    left: 0;
}
.clock .hour{
    position: absolute;
    z-index: 3;
    width: 360px;
    height: 20px;
    top: 340px;
    left: 150px; /*时环的水平位置*/
    transition: transform 0.3s ease-in-out 0s;
    transform:rotate(0deg);
}
.clock .hour>div{
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    transition: transform 1s ease-in-out 0s;
    transform:rotate(0deg);
}
.clock .hour>div>div{
    float: right;
    width: 60px;
    text-align: right;
}
.clock .minute{
    position: absolute;
    z-index: 4;
    width: 520px;
    height: 20px;
    top: 340px;
    left: 71px;  /*分环的水平位置*/
}
.clock .sec{
    position: absolute;
    z-index: 5;
    width: 680px;
    height: 20px;
    top: 340px;
    left: -10px; /*秒环的水平位置*/
}
.clock>hr{
    height: 0;
    width: 0%;
    position: absolute;
    z-index: 1;
    border: red solid 0;
    border-bottom-width: 1px;
    margin: 10px 0 0 0;
    left: 50%;
    top: 50%;
    transition: width 0.3s ease-in-out 0s;
    overflow: visible;
}
.clock>hr.active:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -2px;
    left: 0;
    position: absolute;
}
